body {
  background: white;
  color: black;
  font-family: benton-modern-display, serif;
  font-weight: 400;
  font-size: 20px;
}

@media screen and (max-width: 800px) {
  body {
    font-size: 18px;
  }
}

@media screen and (max-width: 600px) {
  body {
    font-size: 17px;
    font-weight: 600;
  }
}

header {
  display: flex;
  margin-left: 3rem;
  max-width: 50rem;
  padding-top: 5rem;
  padding-bottom: 5rem;
  text-align: right;
  width: 90vw;
}

h1 {
  border-right: 1px solid black;
  font-family: p22-zaner-pro-four, fantasy;
  font-size: 7rem;
  font-weight: 800;
  line-height: 4rem;
  padding-bottom: 10rem;
  padding-right: 1rem;
  padding-top: 10rem;
}

footer {
  margin-left: auto;
  margin-right: auto;
  max-width: 50rem;
  width: 90vw;
}

section {
  width: 100%;
}

fieldset {
  border-color: black;
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;
}

legend {
  color: black;
  font-family: ohno-blazeface, sans-serif;
  font-weight: 300;
  font-style: italic;
  font-size: 1.2rem;
}

p {
  text-align: justify;
  text-justify: inter-word;
}

h2 {
  border-bottom: 1px solid black;
  font-family: p22-zaner-pro-four, fantasy;
  font-size: 4rem;
  line-height: 1.4rem;
  margin-bottom: 5%;
  padding-top: 0.6rem;
}

@media screen and (max-width: 600px) {
  h2 {
    font-size: 3rem;
    line-height: 0.5rem;
    padding-right: 1rem;
    padding-left: 1rem;
  }
}

h3 {
  font-family: p22-zaner-pro-four, fantasy;
  font-size: 4rem;
  line-height: 1.4rem;
  margin-bottom: 5%;
  padding-top: 0.6rem;
  padding-left: 0;
  padding-right: 0;
}

@media screen and (max-width: 600px) {
  h3 {
    font-size: 3rem;
    line-height: 0.5rem;
    padding-right: 1rem;
    padding-left: 1rem;
  }
}

hr {
  border: 0;
  background: black;
  height: 1px;
}

@media screen and (max-width: 600px) {
  .text--block {
    padding-right: 1rem;
    padding-left: 1rem;
    width: 100%;
  }
}

input[type="text"] {
  font-family: serif;
  font-size: 1rem;
  padding: 0.7rem;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

.list--grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px,1fr));
  grid-gap: 0.5rem;
}

li {
  padding-bottom: 0.5rem;
}

.label--long {
  /* this seems like a dumb thing */
  display: block;
  margin-left: 25px;
  margin-top: -18px;
}

input:disabled + label {
  color: grey;
  font-style: italic;
}

/* layouts */

/* alpha */
.layout-alpha {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-auto-rows: minmax(150px, auto);
  grid-gap: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;
}

@media screen and (max-width: 600px) {
  .layout-alpha {
    display: block;
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

.layout-alpha--textbox {
  display: flex;
  grid-column: 1;
  grid-row: 1/3;
  padding-top: 2rem;
}

@media screen and (max-width: 600px) {
  .layout-alpha--textbox {
    display: inline-block;
    width: 60%;
  }
}

.layout-alpha--image {
  grid-column: 2;
  grid-row: 1 / 3;
}

/* bravo */
.layout-bravo {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-auto-rows: minmax(150px, auto);
  grid-gap: 1rem;
  padding-bottom: 2rem;
  padding-top: 2rem;
}

@media screen and (max-width: 600px) {
  .layout-bravo {
    display: block;
  }
}

.layout-bravo--textbox {
  display: flex;
  grid-column: 2;
  grid-row: 1/3;
}

@media screen and (max-width: 600px) {
  .layout-bravo--textbox {
    display: inline-block;
    width: 60%;
  }
}

.layout-bravo--image {
  grid-column: 1;
  grid-row: 1 / 3;
}

/* charlie */

.layout-charlie {
  display: grid;
  grid-template-columns: 4fr 2fr 2fr;
  grid-gap: 1rem;
  padding-bottom: 2rem;
  padding-top: 2rem;
}

@media screen and (max-width: 600px) {
  .layout-charlie {
    display: block;
  }
}

.layout-charlie--textbox {
  display: flex;
}

@media screen and (max-width: 600px) {
  .layout-charlie--image-b {
    margin-left: 50%;
    width: 50%;
  }
}

/* delta */
.layout-delta {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 1rem;
  padding-bottom: 2rem;
  padding-top: 2rem;
}

@media screen and (max-width: 600px) {
  .layout-delta {
    display: block;
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

.layout-delta--image {
  grid-column: 1 / 5;
}

.layout-delta--textbox {
  grid-column: 4 / 5;
  grid-row: 2;
}

.layout-delta--heading {
  grid-column: 1 / 4;
  grid-row: 2;
}

/* echo */
.layout-echo {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 1rem;
  padding-bottom: 2rem;
  padding-top: 2rem;
}

.layout-echo--image {
  grid-column: 1/5;
  grid-row: 1;
  position: relative;
  width: 100%;
}

.layout-echo--textbox {
  padding-right: 10%;
  padding-top: 6rem;
  position: absolute;
  right: 0;
  width: 35%;
}

@media screen and (max-width: 600px) {
  .layout-echo--textbox {
    padding-left: 1rem;
    padding-right: 1rem;
    position: static;
    width: 75%;
  }
}

.layout-echo--textbox--lower {
  grid-column: 1 / 5;
  padding-left: 2rem;
  width: 100%;
}

/* dividers */
.divider-alpha {
  padding-bottom: 7rem;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 7rem;
  margin-left: auto;
  margin-right: auto;
  max-width: 75vw;
  text-align: center;
}

@media screen and (max-width: 600px) {
  .divider-alpha {
    padding-top: 4rem;
    padding-bottom: 4rem;
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

.divider-bravo {
  padding-top: 7rem;
  padding-bottom: 7rem;
}

@media screen and (max-width: 600px) {
  .divider-bravo {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
}


/* text (p) characteristics */
.text--top {
  padding-left: 0.6rem;
  padding-right: 0.6rem;
}

.text--bottom {
  align-self: end;
  padding-left: 0.6rem;
  padding-right: 0.6rem;
}

.text--block--small {
  width: 25%;
}

@media screen and (max-width: 600px) {
  .text--block--small {
    width: 50%;
  }
}

.text--block {
  margin-left: auto;
  margin-right: auto;
  max-width: 35rem;
  width: 75%;
}

.text--center {
  margin-left: auto;
  margin-right: auto;
  max-width: 35rem;
  text-align: center;
  width: 75%;
}

.text--right {
  text-align: right;
}

/* textbox decoration */
.textbox--single--a {
  box-shadow: -1px 0 0 0 black;
}

.textbox--single--b {
  box-shadow: 1px 0 0 0 black;
}

.textbox--double {
  box-shadow: 1px 0 0 0 black, -1px 0 0 0 black;
}


/* utility */

.padding-left {
  padding-left: 2rem;
}

@media screen and (max-width: 600px) {
  .padding-left {
    padding-left: 1rem;
  }
}

.padding-right {
  padding-right: 2rem;
}

@media screen and (max-width: 600px) {
  .padding-right {
    padding-right: 1rem;
  }
}

.padding-top {
  padding-top: 7rem;
}

@media screen and (max-width: 600px) {
  .padding-top {
    padding-top: 3rem;
  }
}