body {
  background: thistle;
  color: midnightblue;
  font-size: 18px;
  padding: 1em;
}

section {
  margin-left: auto;
  margin-right: auto;
  max-width: 50em;
  width: 90vw;
}

fieldset {
  border-color: midnightblue;
  margin-bottom: 1em;
  padding-bottom: 1em;
  padding-left: 2em;
  padding-right: 2em;
}

legend {
  color: tomato;
  font-weight: bolder;
  font-family: 'Comic Sans MS';
  font-size: 2.5em;
  letter-spacing: 2px;
  text-shadow: -1px -1px 1px peachpuff, 2px 2px 2px maroon;
}

input[type="text"] {
  font-family: serif;
  font-size: 1em;
  padding: 0.7em;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

.list--grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px,1fr));
  grid-gap: 0.5em;
}

li {
  padding-bottom: 0.5em;
}

.label--long {
  /* this seems like a dumb thing */
  display: block;
  margin-left: 25px;
  margin-top: -18px;
}

input:disabled + label {
  color: grey;
  font-style: italic;
}