body {
  background: floralwhite;
  color: black;
  font-family: benton-modern-display, serif;
  font-weight: 400;
  font-size: 18px;
  padding: 1em;
}

header {
  margin-left: auto;
  margin-right: auto;
  max-width: 50em;
  width: 90vw;
}

footer {
  margin-left: auto;
  margin-right: auto;
  max-width: 50em;
  width: 90vw;
}

h1 {
  border-bottom: 1px solid hotpink;
  font-family: p22-zaner-pro-four, sans-serif;
  font-size: 3em;
  font-weight: 800;
  text-align: center;
}

section {
  margin-left: auto;
  margin-right: auto;
  max-width: 50em;
  width: 90vw;
}

.article--full-width {
  position: relative;
}

fieldset {
  border-color: black;
  margin-bottom: 1em;
  padding-bottom: 1em;
  padding-left: 2em;
  padding-right: 2em;
}

legend {
  color: black;
  font-family: ohno-blazeface, sans-serif;
  font-weight: 300;
  font-style: italic;
  font-size: 1.2em;
}

p {
  text-align: justify;
  text-justify: inter-word;
}

.text--double {
  box-shadow: inset 1px hotpink, -1px hotpink;
  padding-bottom: 2em;
  padding-left: 0.6em;
  padding-right: 0.6em;
  max-width: 25vw;
  width: 50%;
}

input[type="text"] {
  font-family: serif;
  font-size: 1em;
  padding: 0.7em;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

.list--grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px,1fr));
  grid-gap: 0.5em;
}

li {
  padding-bottom: 0.5em;
}

.label--long {
  /* this seems like a dumb thing */
  display: block;
  margin-left: 25px;
  margin-top: -18px;
}

input:disabled + label {
  color: grey;
  font-style: italic;
}

/* layouts */
.layout--1 {
  display: grid;
}

.frame {
  background: grey;
  width: 75vw;
}

.frame--full-width {
  position: absolute;
  width: 100%;
}