@media print {
  body {
    font-size: 100%;
    background-color: white;
    background-image: none;
    padding: 15pt;
  }

  .print-hide {
    display: none;
  }

  .print-show {
    display: block;
    font-family: benton-modern-display, serif;
    font-size: 20pt
  }

  form {
    max-width: 100%;
  }

  fieldset {
    border-color: darkgrey;
    padding-bottom: 1rem;
    padding-top: 0;
  }

  p {
    font-size: 13pt;
    text-align: left;
  }

  legend {
    font-size: 40pt;
  }

  h4 {
    font-size: 14pt;
  }

  h5 {
    font-size: 13pt;
  }

  .wrapper {
    overflow-x: auto;
    width: auto;
  }

  .receipt-header {
    padding-bottom: 1rem;
  }

  .receipt-header p {
    font-size: 10pt;
  }

  .receipt-h2 {
    font-size: 14pt;
    padding-bottom: 0;
    margin-bottom: 8pt;
  }

  .receipt {
    position: static;
    width: 100%;
    max-width: 100%;
    max-height: 100%;
    height: fit-content;
    transform: rotate(0);
    overflow: auto;
    padding-top: 20pt;
    padding-bottom: 20pt;
    font-size: 10pt;
    padding-inline: 40pt;
  }

  .receipt-row {
    grid-template-rows: 1.6rem 1fr;
    padding-top: 5pt;
    padding-bottom: 0;
  }

  .receipt p {
    text-align: center;
  }

  .receipt-company {
    font-size: 6pt;
  }

  .receipt-title {
    font-size: 9pt;
  }

  .receipt-date {
    font-size: 7pt;
  }

  .receipt-text li {
    font-size: 6pt;
    max-width: 80%;
    padding-block-end: 5pt;
  }

  .receipt-footer .receipt-text {
    font-size: 8pt;
  }

}